.text-field {
    -fx-background-insets: 0;
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-text-box-border: transparent;
}

.text-field .content {
    -fx-text-fill: gray;
}

.text-field .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}